svg * {
    fill: white;
    stroke: white;
}
.bound {
    fill: none;
    stroke: red;
    visibility: hidden;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
svg {
    width: 100vw;
    height: 100vh;
}

.buildingbg {
    stroke: black;
    fill: #2A2C2E;
}
.window {
    stroke: black;
    stroke-width: 1;
    fill: white;
    --repeat-count: 19;
    --separation: 10;
}

.mast-base {
    stroke: black;
    fill: #242628;
}